.welk {
    width: 80%;
    margin: auto;
    background-color: rgb(59, 59, 59); /*     background-color: rgb(222, 219, 216); */
    border: 2px solid black;
}

.main {
    width: 80%;
    margin: auto;
    background-color: rgb(171, 161, 149);
    border: 2px solid black;
}

footer {
    width: 80%;
    margin: auto;
    background-color: bisque;
    border: 2px solid black;
}

h1 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    color: black;
    font-weight: lighter;
}

.hh { /* Alan @ 10:58 am, "fuck me." */
        font-family: 'Linux Libertine','Georgia','Times',serif;
        color: rgb(197, 197, 197);
        font-weight: lighter;
        line-height: 0.4;
}

html {
    background-color: rgb(185, 186, 186);
}